/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
   
}

.container {
    display: flex;
    height: auto;
    background-color: #f5f7fa;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 1500px;
    background-color: #f2f0fc;
    padding: 20px;

}

.title {
    color: #2f4858;
    font-size: 1.5em;
    margin-bottom: 20px;
}

button {
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    color: #665599;
    padding-inline: 10px 200px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #c19ee0;
}

button:active {
    background-color: #dec9e9; 
    transform: scale(0.98);    
}


a button {
    text-decoration: none; 
}

/* Payment Section */
.payment-section {
    flex-grow: 1;
    display: block;
    justify-content: space-between;
    padding: 30px;
    background-color: #ffffff;
}

.invoice {
    width: 50%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.item-summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #d3d3d3;
    border: 1px dashed #b0b0b0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #666;
}

.payment-details p {
    font-size: 18px;
    margin-bottom: 10px;
}

.payment-details hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

/* Payment Form */
.payment-form {
    width: 40%;
}

.payment-form h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.payment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.expiry-cvv {
    display: flex;
    gap: 10px;
}

.expiry-cvv input {
    width: calc(50% - 5px);
}

.buy-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #45a049;
}