 /* Reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #f5f7fa;
}


.sidebar {
    width: auto;
    background-color: #004e64;
    padding: 20px;
}

.title {
    color: #d9dcd6;
    font-size: 1.4em;
    margin-bottom: 20px;
}

button {
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    color: #16425b;
    padding-inline: 10px 200px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #ebf2fa;
}

button:active {
    background-color: #e1e5f2; 
    transform: scale(0.98);    
}


a button {
    text-decoration: none; 
}
/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.main-header {
    font-size: 1.8em;
    color: #2f4858;
    margin-bottom: 20px;
    text-align: center;
}

.dashboard-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
}

.card h2 {
    font-size: 2em;
    color: #665599;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #2f4858;
}

/* Property Grid */
.properties-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.property-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.property-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.property-card p {
    font-size: 1.2em;
    color: #2f4858;
    margin: 10px 0;
}

.property-button {
    background-color: #665599;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.property-button:hover {
    background-color: #4e3d73;
}